<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genosharing.gwyn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GWYN"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AdvertisementActivity"
            android:label="GWYN"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="Suche Produkt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigatorActivity"
            android:label="Suchergebnisse" />
        <activity
            android:name=".DetailActivity"
            android:label="Ergebnisse"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>